.App1{
  display: flex;
  flex-direction: row;
  padding-left: 10em;
  padding-top: 6em;
}

/*css de las cartas */
.div-imagen {
  font-family: 'Nanum Myeongjo', serif;
  display: flex;
  position: relative;
  height: 17em;
  width: 21em;
  /* margin-left: 5em; */
  
  @media screen and (max-width: 1000px){
   
    height:380vh;
  }

}

.test {
  position:absolute;

  left:0;
  z-index:1;
  
}
.test .text-cards {
  width: 14em;
    height: 10em;
    font-size: 0.8em;
    margin-top: 0.2em;
    font-family: "Oswald";
}

.test button{
  margin-top: 80px;
  cursor: pointer;
}
.desvanecer:hover {
  opacity: 0.09;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
 
}
.desvanecer{
  z-index: 2;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 10px 15px rgb(14 12 12) !important;
  object-fit: cover;

}
.title{
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  color: #750c5e;
  font-family:'Dancing Script', cursive;
  font-weight:bold;
font-size: 50px;
text-shadow: 2px 4px 5px rgb(255, 255, 255);

}
.t2{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.boton{
  align-items: center;
  padding-left: 9em;
}

.boton a{
position: relative;
width: 4em;
height: 75px;
margin:10px 0;
font-size: 24px;
color:rgb(212, 102, 102);
display: inline-flex;
justify-content: center;
align-items: center;

transition: 0.5s;
}

.boton a:before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  background-size: cover;
  transform-origin: left;
  transition: 0.5s;
}
.boton a:hover:before{
  width: 300px;
}
.boton a span{
  position: relative;
  z-index: 1;

}
