.text{
	width: 100%;
	height: 70px;
	background-color: cadetblue;

}

.hero {
	background: rgb(255, 255, 255);
	
}

.titulo {
	margin-top: 750px;
	height: auto;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: bold;
background-image: url('../imagenes/pince.jpg');
	background-size: cover;
	background-clip: text;
	
-webkit-text-fill-color: transparent;
font-family: "Oswald";

 
}

.text-cities-p{
	display: grid;
	 

 background: url( ../imagenes/pinceladas2.jpg);
margin-top:40px ;
height: 200px;
padding-top:50px ;
border-radius: 170px;
font-family: "Oswald";
color: #24721d;

}
