@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Myeongjo&display=swap');
.home {
  text-align: center;
}
.homeTitle {
  align-items:stretch;
  font-family:'Dancing Script', cursive;
  color: #750c5e;
  margin-left: 40px;
}

.Title {
  position: absolute;
  font-size: 100px;
}
.eslogan{
 font-family:'Dancing Script', cursive ;
}
.subtitle{
  font-family: 'Nanum Myeongjo', serif;
}
.Img {
 height: 100%;
}
.Imgtitulo{
  width: 100%;
  height: 650px;
  object-fit:fill;
}
/*  */
.informacion{ 
  width: 100%;
margin-top: 30px;
margin-bottom: 100px;
border-radius: 10px;
text-align: center;

}
.texto-info1{
  padding-top: 60px;
  font-family:'Dancing Script', cursive ;
  font-size:90px;
  color: rgb(111, 25, 131);
  margin-left: 100px;
  position:absolute ;
  margin-top: 200px;

}
.Img2 {
 background: url(../imagenes/avionpuntadas.jpg);
  width: 100%;
   height: 500px;
   object-fit:none;
   background-repeat: no-repeat;
background-position: center center;
background-size: cover;
 }
 

/*  */
.cardshome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
  margin-bottom: 40px;
 margin-left: 20px;
  margin-top: 60px;
  
}

.cardh  {
  font-family: 'Nanum Myeongjo', serif;
  align-content: center;
  width: 400px;
  height: 700px;
  background-color: #ffffffef;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(112, 46, 46, 0.815);
}
.container {
  position: relative;
 
}
img {
  
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 10px;
 
}
.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 15px 0;
  margin-left: 40%;

}
.details > p {
  color: #131010;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.boton{
    
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.boton a{
position: relative;
width: 224px;
height: 75px;
margin:10px 0;
font-size: 24px;
color:#000;
display: inline-flex;
justify-content: flex-end;
align-items: center;
text-decoration: none;
transition: 0.5s;
}
.boton a:hover{
    color: rgb(245, 92, 92);
}


.toque{
  margin-top: 30px;
  width: 100%;
	height: 200px;
 
 
}


.toque .eslogan{
color : rgb(0, 0, 0) ;
font-size: 90px;
}

.toque .subtitle{
  color : rgb(0, 0, 0) ;
  text-align: center;
  font-size: 40px;
  margin-top:30px ;
  
}

.espacio{
  width: 100%;
  height: 90px;
text-align: center;
}
.titulo-promo2{
 display: inline-block;
 position: relative;
 font-family: 'Nanum Myeongjo', serif;
 font-size: 40px;
 color: rgb(114, 108, 100);
}
.titulo-promo2::after, .titulo-promo2::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color:rgb(119, 75, 75) ;
  top: 0.6em;

}

.titulo-promo2::after{
  right: -140px;
}

.titulo-promo2::before{
  left: -140px;
 
}

.fondofooter{
background: url(../imagenes/fondofooter.jpeg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;


}
