@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Myeongjo&display=swap');
.home {
  text-align: center;
}
.homeTitle {
  align-items:stretch;
  font-family:'Dancing Script', cursive;
  color: #750c5e;
  margin-left: 40px;
  /* font-weight: 700px; */
}

.Title {
  position: absolute;
  font-size: 100px;
  
}
.eslogan{
 font-family:'Dancing Script', cursive ;
}
.subtitle{
  font-family: 'Nanum Myeongjo', serif;
}
.Img {
 height: 100%;
}
.Imgtitulo{
  width: 100%;
  height: 650px;
  object-fit:fill;
}
/*  */
.informacion{ 
  width: 100%;
margin-top: 30px;
margin-bottom: 100px;
border-radius: 10px;
text-align: center;

}
.texto-info1{
  padding-top: 60px;
  font-family:'Dancing Script', cursive ;
  font-size:90px;
  color: rgb(111, 25, 131);
  margin-left: 50px;
  position:absolute ;
  margin-top: 200px;

}
.Img2 {
 background: url(../imagenes/avionpuntadas1.jpg);
  width: 100%;
   height: 600px;
   object-fit:none;
   background-repeat: no-repeat;
background-position: center center;
background-size: cover;
 }
 

/*  */
.cardshome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
  margin-bottom: 40px;
 margin-left: 20px;
  margin-top: 60px;
  
}

.cardh  {
  font-family: 'Nanum Myeongjo', serif;
  align-content: center;
  width: 400px;
  height: 700px;
  background-color: #ffffffef;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(112, 46, 46, 0.815);
}
.container {
  position: relative;
 
}
img {
  
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 10px;
 
}
.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 15px 0;
  margin-left: 40%;

}
.details > p {
  color: #131010;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.boton{
    
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.boton a{
position: relative;
width: 224px;
height: 75px;
margin:10px 0;
font-size: 24px;
color:#000;
display: inline-flex;
justify-content: flex-end;
align-items: center;
text-decoration: none;
transition: 0.5s;
}
.boton a:hover{
    color: rgb(245, 92, 92);
}


.toque{
  margin-top: 30px;
  width: 100%;
	height: 200px;
 
 
}


.toque .eslogan{
color : rgb(0, 0, 0) ;
font-size: 90px;
}

.toque .subtitle{
  color : rgb(0, 0, 0) ;
  text-align: center;
  font-size: 40px;
  margin-top:30px ;
  
}

.espacio{
  width: 100%;
  height: 90px;
text-align: center;
}
.titulo-promo2{
 display: inline-block;
 position: relative;
 font-family: 'Nanum Myeongjo', serif;
 font-size: 40px;
 color: rgb(114, 108, 100);
}
.titulo-promo2::after, .titulo-promo2::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color:rgb(119, 75, 75) ;
  top: 0.6em;

}

.titulo-promo2::after{
  right: -140px;
}

.titulo-promo2::before{
  left: -140px;
 
}

.fondofooter{
background: url(../imagenes/fondofooter.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;


}
/* cartas prueba  */
/* .box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.card:hover .imgBx
{
  bottom: 80px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 

 */

 
.container {
	max-width: 324px;
	min-height: 350px;
	border-radius: 20px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 20px 50px;
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.5em;
}
.content h1 {
	position: relative;
}
.content p {
  margin-top: 18px;
  line-height: 1.5em;
  color: black;
  font-family: "Oswald";
}
.content h1:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	background-color: #3e3;
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.front1 {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
	background-image: url(../imagenes/vegas.jpg);
}
.back1 {
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url(../imagenes/vegas.jpg);
}
.front2 {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
	background-image: url(../imagenes/Nueva-York.gif);
}
.back2 {
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url(../imagenes/Nueva-York.gif);
}
.front3 {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
	background-image: url(../imagenes/singapur\ .jpg);
}
.back3 {

	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url(../imagenes/singapur\ .jpg);
}
.container:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.back1 h3 {
	margin: 0;
  color: #000;
  font-family: "Oswald";
  font-weight: bold;
}
.back2 h3 {
	margin: 0;
  color: #000;
  font-family: "Oswald";
  font-weight: bold;
}
.back3 h3 {
	margin: 0;
  color: #000;
  font-family: "Oswald";
  font-weight: bold;
}

