.animate__animated{
text-align: center;
margin-top: 50px;
font-size: 150px;
font-family: 'Dancing Script', cursive;
font-weight: 1000;
text-shadow: 4px 2px 5px rgb(0, 0, 0);
-webkit-text-fill-color: rgb(247, 247, 247);
	-webkit-text-stroke: 2px rgba(7, 186, 192, 0.938);
}