.inputBoton{
    width: 90%;
    height: 50px;
    padding-left: 2em;
    border: solid 1px rgb(14, 12, 13);
    border-radius: 10px;
    margin-bottom: 2em;
   

}
.floating{
    padding-left: 2em;
    margin-bottom: 2em;
}
.accordion-button {
    background: rgb(250, 173, 173)!important;
    color: black !important;
 
}


  
.accordion-collapse{
    background: rgb(248, 215, 215)!important;
    
}

