
.inputBoton{
    width: 15em;
    height: 42px;
    padding-left: 1em;
    border: solid 1px rgb(14, 12, 13);
    border-radius: 10px;
    margin-bottom: 1em;
  
}

.accordin-header{
    padding-left: 1em;
}

.floating{
    padding-left: 2em;
    margin-bottom: 2em;
}
.accordion-button {
    background: rgba(201, 215, 219, 0.212)!important;
    color: black !important;
    font-size: 25px !important;
   font-family: "Oswald";
  
}



  
.accordion-collapse{
    background: rgba(201, 215, 219, 0.212)!important;
    
}

