/* .accordion {
    background: rgb(250, 173, 173) 
} */
.inputBoton{
    width: 110%;
    height: 50px;
    padding-left: 1em;
    border: solid 1px rgb(14, 12, 13);
    border-radius: 10px;
    margin-bottom: 2em;
  
}
.floating{
    padding-left: 1em;
    margin-bottom: 2em;
}
.accordion-button {
    background: rgb(25, 113, 134)!important;
    color: black !important;
    font-size: 25px !important;
   
   
}


  
.accordion-collapse{
    background: rgb(25, 113, 134)!important;
    
}

