/* titulo */


.titulo-division{
    display: flex;
    justify-content: center;
  align-items: center;
  min-height: 100px;
  background: #2ff4b2c4;
margin-top: 50px;  
}
.titulo-container{
  position: relative;
  font-size: 6em;
  color: rgba(255, 0, 149, 0.507);
text-transform: uppercase;
width: 100%;
text-align: center;
-webkit-box-reflect:below -22px linear-gradient(transparent,rgba(0, 0, 0, 0.699));
}



