

.container .input{
	border: 1px;
	outline: none;
	color: #ce4949;
    background: #4e353562;

}
.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 26px;
   
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #be1a4b;

	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #0b4049;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(255, 255, 255);
	font-size: 20px;
}
.search_wrap.search_wrap_4 .search_box .input{
	padding-left: 80px;
}

.search_wrap.search_wrap_4 .search_box .input{
	border-radius: 50px;
}

.search_wrap.search_wrap_4 .search_box .btn{
	left: 0px;
	border-radius: 50%;
}