
.wrappers{
	margin-top: 60px;
	background: url(../imagenes/lineapunteada.jpg);
	height: 600px;
	object-fit:none;
	background-repeat: no-repeat;
 background-position: center center;
 background-size:35%;
 
}
/* .container{
	
} */
.container .input{
margin-top: 50%;
	border: 1px;
	outline: none;
	color: #251010;
    background: #d6d43a91;

}
.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	/* margin-right: 70px; */
	width: 532px;
	height: 100%;
	/* padding: 10px 20px; */
	border-radius: 3px;
	font-size: 26px;
   
}

.search_wrap .search_box .btn{
	margin-top: 70%;
	margin-left: 44%;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #e0ca48;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #96a00e;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(255, 255, 255);
	font-size: 20px;
}
.search_wrap.search_wrap_4 .search_box .input{
	padding-left: 80px;
}

.search_wrap.search_wrap_4 .search_box .input{
	border-radius: 50px;
}

.search_wrap.search_wrap_4 .search_box .btn{
	left: 0px;
	border-radius: 50%;
}