

.contenedor{
    width: 100%;
    font-family:"Oswald";
    padding: 15px;
    margin-bottom: 50px;
}
.formulario{
    background: rgb(207, 155, 236);
    margin-top: 10px;
    padding: 3px;
   

}
h1{
    font-family:"Oswald";
    text-align: center;
    color: #a719ca;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 35px;
    width: 82%;
    padding: 10px;
 border: none;
   
}
.input-contenedor{
    margin-bottom: 15px;
 
    font-size: 40px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(173, 102, 201);
}
.button{
    border: none;
    width: 100%;
    color: rgb(3, 3, 3);
    font-size: 30px;
    background: rgb(130, 7, 179);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(180, 88, 214);
}
p{
    text-align: center;
    font-size: 30px;
    
}
.link{
    text-decoration: none;
      color: #a719ca;
    font-weight: 600;
  
}
.link:hover{
     color:#a719ca;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 600px;
        /* height: 530px; */
        margin-top: 150px;
        border-radius: 2%;
        margin-bottom: 90px;

    }
}
